* {
    margin: 0;
    padding: 0;
}

.sidebar {
    /* list-style: none; */
    padding: 72px;
    background-color: rosybrown;
    width: 434px;
    /* font-family: 'Fira Sans', sans-serif; */
    height: 100vh
}

.sidebar nav {
    padding: 45px;
    list-style: none;
}

.sidebar nav li {
    /* font-size: 30px; */
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: rgb(3, 2, 2);
}

.main {
    background-color: aquamarine;
    width: 80vw;
}

.container {
    display: flex;
}

.infocontainer {
    justify-content: space-around;
    background-color: rgb(226, 213, 213);
    /* margin: 45px auto; */
    height: 78vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;

}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    font-size: 30px;
}

.name {
    font-size: 50px;
}

.about {
    font-size: 40px;
    margin: 0px;

}

.moreabout {
    font-size: 22px;
    font-family: fira sans-serif;

}

button {
    margin-top: 34px;
    padding: 20px 10;

}

.button button {
    margin: 0 3px;
    padding: 9px 14px;
    border-radius: 22px;
    background-color: rgb(69, 30, 210);
    color: white;
    font-weight: 21px;
    cursor: pointer;

}

.button button {
    color: rgb(240, 240, 243);
    background-color: rgb(43, 9, 194);
    padding: 9px 14px;
    border-radius: 22px;
    font-size: 21;


}


.devpic img {
    height: 78vh;
}

.contacform {
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'fire sans', sans-serif;

}

.contacform h1 {
    font-family: 'source code pro', monospace;
    text-align: center;
}

.contacform form div{
    padding: 10px;
}

.blogitem h2{
    margin: 30;
    font-size: 20;
    font-family: Arial, Helvetica, sans-serif;
}

.introcontainer{
    padding: 10px 11px;
    margin: 50px;

}

.devinfo{
    padding: 10px 11px;
    margin: 40px;
}

.

.intro p{
    margin-top: 30px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.intro h1{
    margin: 30px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Skill h2{
    margin: 30px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.Skill p{
    margin: 30px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Servicescontainer h1{
    margin-top: 50px;
    padding: 9px 10px;
}

.ser{
    margin-top: 55px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}